{% extends 'base.html.twig' %}

{% block title %}Connexion à Twitter{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
<div class="background-elements">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="wave"></div>
</div>

<div class="login-wrapper">
    <div class="login-card">
        <img class="mouse-logo" src="{{ asset('images/mouseIcon.png') }}" alt="Mouse Icon">

        <h2>Connexion</h2>

        {% if error is defined and error %}
            <div class="alert alert-danger">
                {% if error.messageKey is defined %}
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                {% else %}
                    {{ error }}
                {% endif %}
            </div>
        {% endif %}

        <form method="post">
            <div class="text-start">
                <label for="username" class="form-label">Email ou nom d'utilisateur</label>
                <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" required autofocus>
            </div>

            <div class="text-start">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" name="_password" id="password" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-twitter">Se connecter</button>
        </form>
        <div class="login-link">
            <p>Vous n'avez pas de compte ? <a href="{{ path('app_register') }}">S'inscrire</a></p>
        </div>
    </div>
</div>
{% endblock %}
